<div class="header">
  <h2 class="title" mat-dialog-title>
    Terminer le sprint : {{ backlog.getSprintName() }}
  </h2>
  <small class="text-muted">{{ done }} ticket(s) terminé(s).</small>
  <small class="text-muted">{{ toDo + doing }} ticket(s) incomplet(s).</small>
</div>

<mat-dialog-content *ngIf="(toDo + doing) > 0">
  <div *ngIf="stories?.length > 0">
    <h5>Transférer les tickets incomplets vers un nouveau sprint.</h5>
    <mat-form-field>
      <mat-label>Créer un sprint à partir de la story suivante</mat-label>
      <mat-select [(value)]="selectedStory" name="story" required>
          <mat-option *ngFor="let story of stories" [value]="story.getName()">
            {{ story.getName() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="stories?.length === 0">
      <h5>Impossible de transférer les tickets incomplets vers un nouveau sprint.</h5>
      <small>Toutes les stories présentes dans le Backlog de Produit sont complétées. Créez de nouvelles stories ou finissez les tâches présentes dans ce sprint.</small>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="stories">
  <button class="mat-stroked-button" aria-label="Annuler" (click)="dismiss()">
    Retour
  </button>
  <button *ngIf="(toDo + doing) === 0"
    color="primary" mat-flat-button
    (click)="close()">
    Terminer
  </button>
  <button *ngIf="(toDo + doing) > 0 && stories.length !== 0"
    color="primary" mat-flat-button
    [disabled]="stories.length === 0 || selectedStory === ''"
    (click)="transfer()">
    Transférer
  </button>
</mat-dialog-actions>
