.header {
    display: flex;
    flex-direction: column;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem; 
}

.mat-form-field {
    width: 100%;
}