.cardList {
    background-color: rgba(238, 238, 238, 0.6);
    /* Black w/opacity/see-through */
    margin: 5px;
    width: 400px;
  }
  
  .cards {
    min-height: 20px;
  }
  
  .list {
    display: inline-block;
  }
  
  .newCard {
    margin-top: 10px;
  }
  
  /* input color class */
  ::ng-deep input.mat-input-element {
    color: #484a4c;
  }
  
  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #525252 !important;
  }
  
  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #6e6e6e !important;
  }
  