.projects-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    opacity: 0.7;
}

.mat-menu-trigger  {
    margin-bottom: 12px;
    margin-right: -16px;
    margin-top: -7px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mat-card-content {
    color: rgb(85, 84, 84);
    text-align: justify;
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}