.card {
  background-color: rgba(236, 235, 235, 0.8);
  margin-bottom: 5px;
}

mat-card {
  padding: 0px 0px 0px 10px;
  width: 300px;
}

mat-card .sideBySide {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

mat-card .sideBySide p {
  word-wrap: break-word;
  text-align: left;
}

mat-card .sideBySide .task {
  display: flex;
  align-items: center;
}
mat-card .high {
  border-radius: 25px;
  background-color: rgb(245, 34, 7);
  color: white;
  padding: 5px;
  font-family: Arial;
  text-align: center;
  font-size: 12px;
}

mat-card .medium {
  border-radius: 25px;
  background-color: rgb(51, 182, 199);
  color: white;
  padding: 5px;
  font-family: Arial;
  text-align: center;
  font-size: 12px;
}

mat-card .low {
  border-radius: 25px;
  background-color: rgb(43, 184, 55);
  color: white;
  padding: 5px;
  font-family: Arial;
  text-align: center;
  font-size: 12px;
}

mat-card .sideBySide ::ng-deep .mat-icon-button {
  height: 30px !important;
  width: 30px !important;
  margin: 5px;
}

mat-card ::ng-deep .mat-chip {
  background-color: rgba(248, 248, 248, 0.6);
  font-size: 13px;
}

mat-card ::ng-deep .mat-chip-list-wrapper {
  padding-bottom: 7px;
}

mat-card:hover {
  background-color: rgba(245, 245, 245, 0.911);
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

::ng-deep .custom-class .mat-simple-snackbar-action {
  color: rgba(69, 133, 80, 0.89) !important;
}

::ng-deep .mat-caption.late {
  color: #da2721fd !important;
}

::ng-deep .mat-caption.near {
  color: rgba(60, 49, 212, 0.906) !important;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
  font-size: 12px;
}
