<mat-card class="card" 
    draggable="true" 
    (dragstart)="dragStart($event)" 
    id="{{card.id}}"> 
    
    <mat-card-content>
        <div>
            <div class="sideBySide">
                <div class="task">
                    
                    <div>
                        <p>
                            {{card.getTitle()}}
                            <!-- card.getTitle() -->
                        </p> 
                        <p *ngIf="notFinished"
                            class="mat-caption" [ngClass]="compareDatetoToday(card.deadline)">
                            {{ card.deadline | date:'dd MMMM yyyy' }}
                        </p>
                        <p>
                            <label *ngIf= "card.getPriority()=='3'" class="high">
                                High
                            </label>
                            <label *ngIf= "card.getPriority()=='2'" class="medium">
                                Medium
                            </label>
                            <label *ngIf= "card.getPriority()=='1'" class="low">
                                Low
                            </label>
                        </p>
                        
                    </div>
                </div>
                <button *ngIf="notFinished" aria-label="Editer la tâche"
                    mat-icon-button (click)="openDialog()">
                    <mat-icon matTooltip="Editer la tâche" matTooltipShowDelay="1300">
                        edit
                    </mat-icon>
                </button>
                <button *ngIf="!notFinished && card.getDescription()" aria-label="Voir les détails de la tâche terminée"
                    mat-icon-button (click)="openViewDialog(viewDetails)">
                    <mat-icon matTooltip="Voir les détails" matTooltipShowDelay="1300">
                        remove_red_eye
                    </mat-icon>
                </button>
            </div>
            <div *ngIf="notFinished">
                <mat-chip-list
                    *ngIf="card.members && card.members.length < 3">
                    <mat-chip *ngFor="let member of card.members">
                        {{ member }}
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list
                    *ngIf="card.members && card.members.length > 2">
                    <mat-chip>
                        {{ card.members[0] }}
                    </mat-chip>
                    <mat-chip>
                        {{ card.members[1] }}
                    </mat-chip>
                    <mat-chip 
                        [matTooltip]="displayOthers()" 
                        [matTooltipClass]="'my-tooltip'">
                        ...
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #viewDetails let-data>
    <h2 mat-dialog-title>
        {{data.title}}
    </h2>
    <mat-dialog-content style="overflow-y: hidden !important;">
        <p style="word-wrap: break-word;">
            {{data.description}}
        </p>
        <mat-chip-list *ngIf="data.members">
            <mat-chip *ngFor="let member of data.members">
                {{ member }}
            </mat-chip>
        </mat-chip-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button aria-label="Retourner à l'écran principal" mat-button mat-dialog-close>Retour</button>
    </mat-dialog-actions>
</ng-template>