<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Toggle sidenav" (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button> Scrumboard
    <span class="toolbar-spacer"></span>
    <span *ngIf="role !== null">
    <small class="authentified-role">{{ role | titlecase }}</small>
    <button mat-stroked-button (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
  </span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <!-- <a mat-list-item href="">
                <mat-icon>home</mat-icon> Accueil</a> -->
            <a mat-list-item href="projects">
                <mat-icon>bookmark</mat-icon> Projets</a>
            <a mat-list-item href="meetings">
                <mat-icon>event</mat-icon> Réunions</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>