.grid-container {
    margin: 20px;
}

.projects-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.projects-card-content {
    text-align: center;
    /* line-height：100px; */
}

.projects-card-new {
    line-height: 250px;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

a {
    color: black;
    text-decoration: none;
}