<div class="grid-container">
  <a [routerLink]="['/projects']" routerLinkActive="router-link-active">Mes Projets</a>
        <span>&nbsp;/&nbsp;</span>
        <a [routerLink]="['/projects/'+ id +'/backlog']" routerLinkActive="router-link-active">Backlog Produit</a>
  <h2 class="mat-h2">Sprint Backlog</h2>

  <div style="text-align:center" class="bg-text">

    <div class="container" cdkDropListGroup>

      <div class="item" *ngFor="let list of lists" >
        <app-list [list]="list" [cardStore]="cardStore"></app-list>
      </div>
    </div>
  </div>
</div>