<div class="grid-container">
    <h2 class="mat-h2">
        <a [routerLink]="['/projects']" routerLinkActive="router-link-active">Mes Projets</a>
        <span>&nbsp;/&nbsp;</span>
        <a [routerLink]="['/projects/'+ id]" routerLinkActive="router-link-active">{{title}}</a>
        <span>&nbsp;/&nbsp;</span>
        <a [routerLink]="['/projects/'+ id +'/productbacklog']" routerLinkActive="router-link-active">Backlog Produit</a>
    </h2>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

        <ng-container matColumnDef="story">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Story </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Priorité </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="Priority tag" selectable="false">
                    <mat-chip focus="false" selected disableRipple [ngClass]="element.status === 'Done' ? 'done': ''"
                        [color]="element.priority === 'High' ? 'warn' : (element.priority === 'Medium' ? 'primary' : 'basic')">
                        <small>{{element.priority}}</small>
                    </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="Status tag" selectable="false">
                    <mat-chip focus="false" selected disableRipple [ngClass]="element.status === 'Done' ? 'done': ''"
                        [color]="element.status === 'To do' ? 'basic' : 'primary'">
                        <small>{{element.status}}</small>
                    </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [ngClass]="element.status === 'Doing' ? 'have-sprintbacklog': ''" (click)="openSprintBacklog(element)"></tr>
    </table>
    <br>

</div>